.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #724223;
  padding: 16px 40px;
  position: sticky;
  top: 0;
  z-index: 1;
  
  @media screen and (max-width: 800px) {
    padding: 12px 20px;
  }
  
  .logo-container {
    align-self: center;
    align-items: center;
    width: 10%;
    justify-content: flex-start;
    
    @media screen and (max-width: 1200px) {
      width: 16%;
    }
    @media screen and (max-width: 800px) {
      width: 24%;
    }
  }

  .options {
    // width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 0px 15px;
      font-size: 16px;
      
      @media screen and (max-width: 1200px) {
        font-size: 12px;
        font-weight: 500;
      }
      @media screen and (max-width: 800px) {
        font-size: 10px;
        font-weight: 600;
      }
    }
  }
}
