.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #010203;
  border-radius: 4px;
  margin: 0 7.5px 15px;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 4s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
      background-color: #724223;
      border: 1px solid #2e2e2e;
      
      & .title {
        opacity: 1;
        color: #010203;
      }
    }

  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .content {
    height: 12vh;
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: #010203;
    opacity: 0.8;
    position: absolute;

    .title {
      font-weight: bold;
      margin: 0 6px 0;
      font-size: 22px;
      color: #ebebeb;
      opacity: 0.7;
    }
    
    .subtitle {
      padding-top: 4px;
      color: #ebebeb;
      opacity: 0.5;
      font-size: 16px;
      font-weight: 300;
    }
  }
}
