.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #010203; 
  padding: 40px 40px 10px 40px;
  // min-height: 30vh;
  
  .quicklinks{
    display: flex;
    justify-content: space-between;
    // align-items: center;


    @media screen and (max-width: 800px) {
      flex-direction: column;
    }

    .logo-container {
      justify-content: flex-start;

      .logo {
        width: 10vw;

        @media screen and (max-width: 1200px) {
          width: 16vw;
        }
        
        @media screen and (max-width: 800px) {
          width: 32vw;
        }
      }
    }
      
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      
      .option {
        padding: 0px 15px;
        font-size: 16px;
        color: whitesmoke;
      }
    }
  }

  .copyright-contact {
    margin-top: 60px;
    color: whitesmoke;
    font-size: 0.8rem;

    .icon-container{
      width: 5vw;
      display: inline-grid;
      align-items: start;
      justify-items: start;
      grid-auto-flow: column;
      grid-gap: 4px 16px;

      .icon {
        fill: whitesmoke;
      }

      @media screen and (max-width: 1200px) {
        width: 8vw;
      }
      
      @media screen and (max-width: 800px) {
        width: 14vw;
      }
    }

    .disclaimer{
      font-size: 0.5rem;
      word-spacing: 0.12rem;
      letter-spacing: 0.06rem;
    }
  }
}
