body{
  font-family: 'Montserrat', sans-serif;
  background-color: #0D0E0E;  
  /* background-color: #111111; */
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.page {
  padding: 20px 20px 80px 20px;
  flex: 1;
}